/* Fonts*/
/*Chronicle*/
@font-face {
  font-family: "Chronicle Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Chronicle Display Black"),
    url("../fonts/Chronicle Display Black.woff") format("woff");
}
@font-face {
  font-family: "Chronicle Display Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Chronicle Display Light Italic"),
    url("../fonts/Chronicle Display Light Italic.woff") format("woff");
}
@font-face {
  font-family: "Chronicle Display Roman";
  font-style: normal;
  font-size: normal;
  src: url("../fonts/Chronicle Display Roman"),
    url("../fonts/Chronicle Display Roman.woff") format("woff");
}
@font-face {
  font-family: "Chronicle Display Semibold";
  font-style: normal;
  font-size: normal;
  src: url("../fonts/Chronicle Display Semibold"),
    url("../fonts/Chronicle Display Semibold.woff") format("woff");
}
/*Gilroy*/
@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Gilroy-Heavy"),
    url("../fonts/Gilroy-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Gilroy-Light"),
    url("../fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Gilroy-Medium"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
}

Reset CSS
*,::after,::before{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.logo{

}
/*padding pour les tests à supprimer*/
*{
  padding: 10px;
}

/* Top menu */

/* Banner */
#banner{
  margin: 240px 0px; /*top and bottom 240px, left and right 0px*/
}
#menu-social{
  height: 170px;
  writing-mode: vertical-rl;
}
#content-banner{
  max-width: 960px;
}

/* Main section */
.main-section{

}
/* Footer */
.yellow-link{
  color: #fbd784;
}
.white-link{
 color:white; 
}

/* Media queries */



