@charset "UTF-8";
html { scroll-behavior: smooth; }
body, html {
    padding: 0;
    margin: 0;
    position: relative;
}

body{
    background-color: black;
    background-image: url("../img/bkg.png");
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 100%;
    color:white;
    font-family: Gilroy-Bold, sans-serif;
    position: relative;
}
.container, .container-fluid{
    padding:0;
}
a, a:hover {
    text-decoration: none;
    color: white;
}

/*TOP*/
.logo {
    font-size: x-large;
    text-transform: uppercase;
    font-family: Chronicle-Display-Semibold, serif;
}
.logo:hover{ color:#FBD784;}

.menu a { padding: 15px; }
.menu a:hover { color: #FBD784; }

.account:hover { color: #FBD784; }


/* BANNER */
.banner{
    margin: 240px 0px;
}

#social {
    writing-mode: vertical-rl;
    height: 170px;
}

#blocCenterBanner{
    max-width: 960px;
}

.title {
    font-family: Chronicle-Display-Semibold, serif;
    font-size: 88px;
    line-height: 100px;
}

h2 {
    font-family: Chronicle-Display-Semibold, serif;
    font-size: 64px;
    line-height: 120%;
    padding-bottom: 20px;
}

.tagline{
    color:#FBD784;
    font-size: 18px;
    letter-spacing: 6px;
    height: 50px;
    text-transform: uppercase;
}
.tagline::before {
    content: "";
    display: inline-block;
    background-color: #FBD784;
    width: 72px; 
    height: 2px;
    vertical-align: middle;
    margin-right: 15px;
}


/* CONTENT */
.main-content{
    position:relative;
}
.block {
    margin-bottom: 200px;
}
.nbr {
    font-size: 240px;
    line-height: 240px;
    color:white;
    opacity:20%;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.txt {
    margin-top: -136px;
    padding-left: 150px;
    padding-right: 75px;
}

.readmore{ 
    color:#FBD784;
}


/* bottom*/
.footer{
    margin-bottom: 100px;
}

.yellow {
    color: #fbd784 !important;
}

.white { 
    font-family: Gilroy-Medium;
    color:white; 
}
.white:hover { color:#FBD784; }

.copyright { 
    position: absolute;
    bottom:0px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 32px;
    opacity: 50%;
}



/*//////////////////////////////////MEDIA QUERIES*/
@media (max-width: 1025px) {
    #slider{ display:none;}
}
@media (max-width: 768px) {
    .header { 
        margin-top: auto;
        height:25px;
    }

    .title{ 
        font-size: 50px;
        line-height: 50px;
    }

    h2{ font-size: 45px;}
    
    #blockBanner { margin-bottom: 100px; }
    .content { padding-top:20px; }
    
    .block{margin-bottom:20px; }
    .nbr {
        font-size:150px;
        line-height: 150px;
    }
    .tagline {
        font-size: 16px;
        letter-spacing: 6px;
        
        margin: auto;
    }
    .txt {
        margin:auto;
        margin-top: 0px;
        padding:0;
    }
   
    .frameImg{
        position: relative;
        overflow:hidden;
        min-height: 350px;
    }
    
    .frameImg img{
        /* width: auto;
        object-fit: fill; */
        margin-top:-44%;
    }

    .copyright {
        position: relative;
        padding: 10px 0px;
        
    }
    .footer {
        margin-bottom:auto;
    }
 }